body, html {
  height: 100%;
  width: 100%;
}

#imgDisplay img{
  height: 100%;
  width: 50%;
  margin-left: 25%;
}

#imgDisplay {
  height: 10%;
}

#compareBox > div:nth-child(even) {
  background-color: lightgray;
}

#compareBox > div {
  margin-top: 1px;
  border: solid;
  border-spacing: inherit;
}

#compareBox > div ul {
  font-size: 80%;
}

.descriptor {
  font-weight: bold;
}

.itemContentSeparator {
  border-left: dashed 2px;
}
